datasets/119congresstweets/tweets.csv filter=lfs diff=lfs merge=lfs -text
datasets/119congresstweets/cleanedtweets.csv filter=lfs diff=lfs merge=lfs -text
datasets/119congresstweets/lda.csv filter=lfs diff=lfs merge=lfs -text
datasets/119congresstweets/nmf.csv filter=lfs diff=lfs merge=lfs -text
datasets/unebates/UN_General_Debates_Tokens.csv filter=lfs diff=lfs merge=lfs -text
datasets/stateofunion/stateofunion_tokens.csv filter=lfs diff=lfs merge=lfs -text
datasets/.pkl/* filter=lfs diff=lfs merge=lfs -text
